html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gmachine-app {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.visualization {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
}

.visualization__commands-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 81px;
    margin: 2px;
    background: #333;
    overflow: hidden;
}

.visualization__commands {
    position: relative;
    transition: 0.3s;
}

.visualization__command {
    font-size: 18px;
    padding: 3px 8px 4px 8px;
    color: #fff;
}

.visualization__command--active {
    font-weight: bold;
    background: #999;
    color: #333;
}

.graph__wrapper {
    flex-grow: 5;
    padding: 10px;
}

#graph {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.stack__wrapper {
    height: 15%;
    background: #e6e6e6;
    margin: 2px 2px 0 2px;
    padding: 25px;
}

.stack {
}

#stack {
    width: 100%;
    height: 100%;
}

.form {
    display: flex;
    width: 50%;
    height: 100%;
}

.form__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__buttons {
    display: flex;
    height: 80px;
    box-sizing: border-box;
}

.form__button {
    flex: 2;
    display: inline-block;
    outline: none;
    text-decoration: none;
    border: none;
    transition: 0.3s;
    padding: 0.75rem 1rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    background: #333;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px 2px 2px 0;
    flex-grow: 1;
    height: 100%;
}

.form__button:hover {
    background: #92ee1c;
    color: #333;
}

.form__button:disabled {
    background: #999;
    color: #333;
}

.form__button--more,
.form__button--less {
    flex: 1;
}

.form__button--less {
    margin-right: 0;
}

.form__textarea {
    font-family: Arial, sans-serif;
    height: calc(100% - 85px);
    background-color: #333;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    color: #92ee1c;
    resize: none;
    padding: 10px;
    font-size: 15px;
    width: 100%;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.modal__wrapper {
    background: #333;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    overflow: scroll;
    width: 70%;
    max-height: 80%;
    padding: 40px 24px 36px;
}

.modal--hidden {
    display: none;
}

.modal__header-wrapper {
    position: relative;
}

.modal__header {
    margin-top: 0;
    color: #92ee1c;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    opacity: 0.6;
    flex-shrink: 0;
    background: transparent;
    border: none;
    outline: none;
}

.modal__close:hover {
    opacity: 1;
}

.modal__close::before,
.modal__close::after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 4px;
    background-color: #fff;
    bottom: 0;
}

.modal__close::before {
    transform: rotate(45deg);
}

.modal__close::after {
    transform: rotate(-45deg);
}

.modal__description {
    color: #92ee1c;
}

.table__head {
    background: #999;
    color: #333;
    padding: 10px;
    text-align: center;
}

.table__ceil {
    background: #fff;
    color: #333;
    padding: 10px;
    text-align: center;
}